@charset "UTF--8"

body {}

body {
    background-color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 { 
    color:rgb(17, 128, 255); 
}

h2 { 
    color:rgb(14, 97, 192); 
}

p { 
    color: rgb(99, 99, 99);
    text-align: justify;
}
